extends layout

block content
  h1= title
  p Welcome to the event posting tool #{title}

  p
    button(onclick="move()") To Event Site
  script.
      function move() {
          window.location.href = '/events/'
      }
