<div>

    <h1>MTD - All Events</h1>


    <table class="table">
        <thead>
        <tr>
            <th>
                <button id="createEventPage" class="btn btn-default pull-left" ng-click="createEventPage()">Neues Event</button>
            </th>
            <th>Eventname</th>
            <th>Sportart</th>
            <th>Datum</th>
            <th>Info</th>
        </tr>

        </thead>

        <tbody>
            <tr ng-repeat="event in events">
                <td><div ng-click="showDetailsPage(event._id)"><img src="/img/info_img.png" alt="Info-Symbol" style="width:50px;height:50px"></img></div></td>
                <td>{{event.name}}</td>
                <td>{{event.type}}</td>
                <td>{{event.eventDate}}</td>
                <td>{{event.info}}</td>
            </tr>
        </tbody>

    </table>

</div>