<div>

    <h1>Show Details</h1>
    <p><div ng-click="showDetails_2()">tesetewst</div></p>


    <table class="table">
        <thead>
        <tr>
            <th>Eventname</th>
            <th>Sportart</th>
            <th>Datum</th>
            <th>Info</th>
        </tr>

        </thead>

        <tbody>
        <tr ng-repeat="event in events" ng-if="event.name">
            <td><div ng-click="showDetails(event.name)">{{event.name}}</div></td>
            <td>{{event.type}}</td>
            <td>{{event.eventDate}}</td>
            <td>{{event.info}}</td>

        </tr>
        </tbody>

    </table>


</div>