<div>

    <h1>MTD - Event Details</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Eventname</th>
                <th>Sportart</th>
                <th>Datum</th>
                <th>Info</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{detailed_name}}</td>
                <td>{{detailed_type}}</td>
                <td>{{detailed_eventDate}}</td>
                <td>{{detailed_info}}</td>
            </tr>
        </tbody>

    </table>

    <button id="editEvent" class="btn btn-default" ng-click="missing1()">Event bearbeiten</button>
    <button id="deleteEvent" class="btn btn-default" ng-click="delete_selected_event()">Event löschen</button>

</div>